# Dependencies
/node_modules
/.pnp
.pnp.js

# Next.js build output
/.next/
/out/

# Production build
/build

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Local environment variables
.env*.local
.env

# OS metadata & IDE
.DS_Store
*.pem
.vscode/
.idea/
*.tsbuildinfo
